// get colors
$orange-300: hsl(31, 77%, 52%);
$cyan-700: hsl(184, 100%, 22%);
$cyan-900: hsl(179, 100%, 13%);
$white-100: hsla(0, 0%, 100%, 0.75);
$gray-100: hsl(0, 0%, 95%);
.page{
    font-size: 1.5rem;
    margin: 10rem 2rem;

    // layout 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 40rem));
    align-content: center;
    justify-content: center;
    &--background{
        background-color: $gray-100;
        min-height: 100vh;

        // layout: center cards
        display: grid;
    }
}
.card{
    padding: 3rem;
    // body font
    font-family: 'Lexend Deca', sans-serif;
    &--sedans-background{
        background-color: $orange-300;
        border-radius: 1rem 1rem 0 0;
    }
    &--suvs-background{
        background-color: $cyan-700;
    }
    &--luxury-background{
        background-color: $cyan-900;
        border-radius: 0 0 1rem 1rem;
    }
    &--sedans-color{
        color: $orange-300;
    }
    &--suvs-color{
        color: $cyan-700;
    }
    &--luxury-color{
        color: $cyan-900;
    }
    
    &__title{
        font-family: 'Big Shoulders Display', cursive;
        color: $white-100;
        font-size: 4rem;
        text-transform: uppercase;

    }
    &__message{
        color: $gray-100;
        max-width: 26ch;
        line-height: 1.6;
        margin-bottom: clamp(4rem, 5.3vw, 8rem);
        
    }
    &__button{
        background: $white-100;
        border: none;
        border-radius: 5rem;
        padding: 1.5rem 4rem;
        font-family: 'Lexend Deca', sans-serif;
        cursor: pointer;
        &:hover{
            background-color: rgba(255, 255, 255, 0);
            border: solid .3rem $white-100;
            color: $white-100;
        }
    }
}

@media(min-width: 840px){
    .card{
        &--sedans-background{
        border-radius: 1rem 0 0 0;
        }
        &--suvs-background{
            border-radius: 0 1rem 1rem 0;;
        }
        &--luxury-background{
            border-radius: 0 0 1rem 1rem;;
        }
    }
}
@media(min-width: 1240px){
    .card{
        &--sedans-background{
        border-radius: 1rem 0 0 1rem;
        }
        &--suvs-background{
            border-radius: initial;
        }
        &--luxury-background{
            border-radius: 0 1rem 1rem 0;
        }
    }
}